.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    background: white;
}

.head{
    background: yellowgreen;
}

.headText{
    font-size: 28px;
    font-weight: 500;
    color: white;
    padding-left: 20px;
}

.form{
    padding: 20px 30px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 350px;
}

.inputWrapper label {
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
}
  
.inputWrapper input {
    padding: 8px 5px;
    outline: none;

    width: 100%;
    box-sizing: border-box;
}

.inputWrapper textarea {
    padding: 8px 5px;
    outline: none;

    width: 100%;
    box-sizing: border-box;
}
.btn {
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    text-decoration: none;
    float: right;
    background-color: yellowgreen;
    color: white;
}
  
.btn:hover {
    background-color: teal;
    color: aliceblue;
}