.main{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn {
    outline: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
    font-weight: bold;
    text-decoration: none;
}
  
.btn:hover {
    background-color: teal;
    color: aliceblue;
}