.app {
  width: 100vw;
  height: 100vh;
  background: lightblue;
}

.error {
  margin-top: 2px;
  font-style: italic;
  color: #b60000;
  font-size: 14px;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.ml-1 {
  margin-left: 5px;
}

.mr-1 {
  margin-right: 5px;
}