.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 350px;
    color: gray;
}

.inputWrapper label {
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
}
  
.inputWrapper input {
    padding: 8px 5px;
    outline: none;
    color: gray;
    width: 100%;
    box-sizing: border-box;
}

.inputWrapper textarea {
    padding: 8px 5px;
    outline: none;
    color: gray;
    width: 100%;
    box-sizing: border-box;
}