.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    max-width: calc(100% - 75px);
}

.head{
    background: yellowgreen;
}

.headText{
    font-size: 28px;
    font-weight: 500;
    color: white;
    padding-left: 20px;
}

.tableContainer{
    padding: 40px 30px 0 30px;
}

table {
    border: 2px solid gray;
    outline: none;
    border-spacing: 0;
}

table tr {
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

table th {
    padding: 8px 20px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

table td {
    padding: 8px 20px;
    text-align: left;
}

table td, th {
    border-right: 1px solid gray;
}

table th:last-child, td:last-child {
    border-right: none;
}

.btnContainer {
    padding: 40px 30px 20px 30px;
    /* display: flex;
    justify-content: center; */
}

.btn {
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    text-decoration: none;
    float: right;
    background-color: yellowgreen;
    color: white;
    margin-left: 15px;
}
  
.btn:hover {
    background-color: teal;
    color: aliceblue;
}